:root {
--colors-pink: #ff456a;
--colors-pinkH: #cc1f62;
--colors-pinkA: #b81453;
--colors-blue: #1476fb;
--colors-blueH: #0960d3;
--colors-blueA: #0051bb;
--colors-darkBlue: #104791;
--colors-darkBlueH: #224099;
--colors-darkerBlue: #0c3c7d;
--colors-title: #3e5466;
--colors-red: #ef2525;
--colors-green: #09ba8a;
--colors-cyan: #06f7fa;
--colors-white: #ffffff;
--colors-white2: #f7f7f7;
--colors-black: #222222;
--colors-black2: #000000;
--colors-grey1: #bfbfbf;
--colors-grey2: #cdcdcd;
--colors-grey3: #ebebeb;
--colors-grey4: #b0b0b0;
--colors-grey5: #e0e0e0;
--colors-grey6: #a7a7a7;
--colors-grey7: #727272;
--colors-grey8: #979797;
--colors-grey9: #666666;
--colors-brand: #0046ff;
--colors-prim: #083cae;
--colors-primDark: #002b99;
--colors-primDarker: #001d7c;
--colors-primLight: #c8d9ff;
--colors-primLighter: #e4edff;
--colors-sec: #f13465;
--colors-secDark: #cc1b4a;
--colors-secDarker: #990932;
--colors-secLight: #fa90ac;
--colors-secLighter: #feeff3;
--colors-ink: #222222;
--colors-inkLight: #777777;
--colors-inkLighter: #aaaaaa;
--colors-inkLightest: #dddddd;
--colors-bgWhite: #ffffff;
--colors-bgGrey: #f5f5f8;
--colors-grey50: #fafafa;
--colors-grey100: #f5f5f5;
--colors-grey200: #dddddd;
--colors-grey300: #cccccc;
--colors-grey400: #aaaaaa;
--colors-grey500: #999999;
--colors-grey600: #777777;
--colors-grey700: #666666;
--colors-grey800: #444444;
--colors-grey900: #222222;
--colors-info: #5736ab;
--colors-infoLight: #efebf7;
--colors-infoText: #5736ab;
--colors-success: #009537;
--colors-successLight: #e6f5eb;
--colors-successText: #009537;
--colors-warning: #ffc549;
--colors-warningLight: #fffaed;
--colors-warningText: #e69000;
--colors-error: #db3737;
--colors-errorLight: #fcebeb;
--colors-errorText: #db3737;
--colors-textLink: #0946CB;
}