.separator {
  height: 1px;
  background: #DDDDDD;
  margin-bottom: var(--spacing-tiny);
  margin-top: var(--spacing-tiny);
}

.separatorMobile {
  height: 1px;
  background: #DDDDDD;
  margin-bottom: var(--spacing-small);
}

.link {
  text-decoration: none !important;
  color: var(--colors-ink) !important;
}

.logout {
  text-decoration: none !important;
  cursor: pointer !important;
  color: var(--colors-sec);
}

.bottomSmall {
  margin-bottom: var(--spacing-small) !important;
}

.bottomTiny {
  margin-bottom: var(--spacing-tiny) !important;
}

.unclickable {
  text-decoration: none !important;
  cursor: default !important;
  opacity: 0.6 !important;
}

.unclickable:hover {
  text-decoration: none !important;
  cursor: default !important;
  opacity: 0.6 !important;
}

.cardText {
  margin-bottom: var(--spacing-tiny);
  line-height: 1.6;
  letter-spacing: normal;
}
