:root {
--spacing-xTiny: 4px;
--spacing-tiny: 8px;
--spacing-small: 16px;
--spacing-base: 24px;
--spacing-medium: 32px;
--spacing-large: 48px;
--spacing-xLarge: 64px;
--spacing-radius: 6px;
--spacing-gutter: 12px;
}